@using Core.Models
@model ProjectTask

<!DOCTYPE html>
<html>
<head>
    <title>Delete ProjectTask</title>
</head>
<body>
<div class="container py-4">
    <h1>Are you sure that you want <br>to delete "@Model.Name"?</h1>
    <div class="form-group">
        <form asp-controller="ProjectTask" asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3"/>
            <a class="btn btn-outline-dark" asp-controller="ProjectTask" asp-action="Index">Cancel</a>
        </form>
    </div>
</div>
</body>
</html>