@using UI.ViewModels
@using Core.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="container">
    <div class="py-4">
        <div class="col-md-6">
            <p>
                <h1>Registration</h1>
            </p>
            @if (ViewData["Error"] != null)
            {
                <p class="text-danger">@ViewData["Error"]</p>
            }
            <div class="py-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control">
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Role" class="control-label">Role:</label>
                        <select asp-for="Role" class="form-control">
                            @foreach (var priorityValue in Enum.GetValues(typeof(UserRole)))
                            {
                                <option value="@priorityValue">@priorityValue</option>
                            }
                        </select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                    <div class="py-2">
                        <div class="form-group">
                            <input class="btn btn-outline-primary" type="submit" value="Register"/>
                            <a class="btn btn-outline-dark" asp-controller="Account" asp-action="Login">Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>