@using UI.ViewModels
@model NewPasswordViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Reset Password</title>
</head>
<body>
<div class="container">
    <div class="py-4">
        <div class="col-md-6">
            <p>
                <h1>Write in the mail the code will come to</h1>
            </p>
            <div class="py-2">
                @if (TempData["SuccessMessage"] != null)
                {
                    <p class="text-success">@TempData["SuccessMessage"]</p>
                }
                <form method="post" asp-controller="Account" asp-action="ResetPassword">
                    <input type="hidden" asp-for="Email" value="@Model.Email"/>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmNewPassword" class="control-label"></label>
                        <input asp-for="ConfirmNewPassword" class="form-control">
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="py-2">
                        <div class="form-group">
                            <input class="btn btn-outline-primary" type="submit" value="Update password"/>
                            <a class="btn btn-outline-dark" asp-controller="Account" asp-action="Login">Cancel</a>
                        </div>
                    </div>
                </form>
                @* @if (TempData["Error"] != null) *@
                @* { *@
                @*     <p class="text-danger">@TempData["Error"]</p> *@
                @* } *@
            </div>
        </div>
    </div>
</div>
</body>
</html>