@using UI.ViewModels
@model EditUserPasswordViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Edit User Password</title>
</head>
<body>
<div class="container py-4">
    <h1>Edit your Password</h1>
    <form method="post" asp-controller="User" asp-action="EditPassword" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CurrentPassword" class="control-label"></label>
            <input asp-for="CurrentPassword" class="form-control">
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label"></label>
            <input asp-for="NewPassword" class="form-control">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmNewPassword" class="control-label"></label>
            <input asp-for="ConfirmNewPassword" class="form-control">
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <div class="py-2">
            <div class="form-group">
                <input class="btn btn-outline-primary" type="submit" value="Save"/>
                <a class="btn btn-outline-dark" asp-controller="User" asp-action="Edit">Cancel</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>