@using UI.ViewModels
@model EditUserViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Edit User</title>
</head>
<body>
<div class="container py-5">
    <h1>Edit your informaition</h1>
    <form method="post" asp-controller="User" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="UserName">UserName</label>
            <input asp-for="UserName" class="form-control" placeholder="UserName">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="py-2">
            <div class="form-group">
                <a class="nav-link text-dark btn btn-outline-primary" asp-controller="User" asp-action="EditPassword">Change password</a>
                <div class="py-2">
                    <input class="btn btn-outline-primary" type="submit" value="Edit"/>
                    <a class="btn btn-outline-dark" asp-controller="User" asp-action="Index">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>